@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This web-site is a project was created on practice by a small group of students to learn new technologies 
    and increase programming skills.   
</p>
